.register-container{
    background-color: antiquewhite;
    padding: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.register-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
form{
    background-color: aliceblue;
    padding: 50px;
    width: 50%;
}
input, .submit-button{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}